In [3]:
import pandas as pd

dict_data = {
    'a': 1,
    'b': 2,
    'c': 3
}

sr = pd.Series(dict_data)
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int64

In [5]:
list_data = ['2025-03-11', 3.14, 'GOLD', 100, True]

sr = pd.Series(list_data)

print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
0    2025-03-11
1          3.14
2          GOLD
3           100
4          True
dtype: object

In [10]:
idx = sr.index
val = sr.values

print(idx)
print(val)

RangeIndex(start=0, stop=5, step=1)
['2025-03-11' 3.14 'GOLD' 100 True]

In [14]:
tup_data = ('콩보리', '2017-11-25', 1)
sr = pd.Series(tup_data, index=['이름', '생일', '귀여움'])
print(sr)

이름            콩보리
생일     2017-11-25
귀여움             1
dtype: object