In [2]:
import pandas as pd

student1 = pd.Series({'국어': 100, '영어': 80, '수학': 90})
print(student1)
print('\n')

percentage = student1 / 200
print(percentage)
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64


국어    0.50
영어    0.40
수학    0.45
dtype: float64
<class 'pandas.core.series.Series'>

In [3]:
student2 = pd.Series({'수학': 80, '국어': 90, '영어': 80})

print(student1)
print('\n')
print(student2)

addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1 / student2

print(type(division))
print('\n')

result = pd.DataFrame([addition, subtraction, multiplication, division],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])

print(result)

국어    100
영어     80
수학     90
dtype: int64


수학    80
국어    90
영어    80
dtype: int64
<class 'pandas.core.series.Series'>


              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [4]:
import numpy as np

student1 = pd.Series({'국어': np.nan, '영어': 80, '수학': 90})
student2 = pd.Series({'수학': 80, '국어': 90})

print(student1)
print('\n')
print(student2)
print('\n')

addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1 / student2

print(type(division))
print('\n')

result = pd.DataFrame([addition, subtraction, multiplication, division],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])

print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64


<class 'pandas.core.series.Series'>


     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

In [5]:
sr_add = student1.add(student2, fill_value=0)
sr_sub = student1.sub(student2, fill_value=0)
sr_mul = student1.mul(student2, fill_value=0)
sr_div = student1.div(student2, fill_value=0)

result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])

print(result)

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

In [6]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]

print(df.head())
print('\n')
print(type(df))
print('\n')

addition = df + 10
print(addition.head())
print('\n')
print(type(addition))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


<class 'pandas.core.frame.DataFrame'>


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500


<class 'pandas.core.frame.DataFrame'>

In [7]:
print(df.tail())
print('\n')
print(type(df))
print('\n')

print(addition.tail())
print('\n')
print(type(addition))
print('\n')

subtraction = addition - df
print(subtraction.tail())
print('\n')
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75


<class 'pandas.core.frame.DataFrame'>


      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75


<class 'pandas.core.frame.DataFrame'>


      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0


<class 'pandas.core.frame.DataFrame'>

In [8]:
file_path = './sheet.csv'

df1 = pd.read_csv(file_path)
print(df1)
print('\n')

df2 = pd.read_csv(file_path, header=None)
print(df2)
print('\n')

df3 = pd.read_csv(file_path, index_col=0)
print(df3)

df4 = pd.read_csv(file_path, index_col='c0')
print(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9


    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9
    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

In [9]:
df5 = pd.read_excel('./sheet.xlsx')
df6 = pd.read_excel('./sheet.xlsx', header=0)

print(df5)
print('\n')
print(df6)

   통계표명:   아황산가스(SO2) Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0    단위:          ppm        NaN         NaN         NaN         NaN
1    NaN         2014       2015    2016.000    2017.000    2018.000
2     서울        0.006      0.005       0.005       0.005       0.004
3     부산        0.007      0.006       0.005       0.005       0.005
4     대구        0.004      0.003       0.003       0.003       0.003
5     인천        0.007      0.006       0.006       0.006       0.005
6     광주        0.004      0.003       0.003       0.003       0.003
7     대전        0.004      0.004       0.003       0.003       0.002
8     울산        0.008      0.007       0.007       0.006       0.006
9     세종            -          -       0.004       0.003       0.003
10   출처:  환경부「대기환경연보」        NaN         NaN         NaN         NaN

    Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10
0          NaN         NaN         NaN         NaN          NaN
1     2019.000    2020.000    2021.000    2022.000     2023.000
2        0.004       0.003       0.003       0.003        0.003
3        0.005       0.004       0.003       0.003        0.003
4        0.003       0.002       0.002       0.002        0.002
5        0.005       0.004       0.003       0.003        0.003
6        0.003       0.003       0.003       0.003        0.003
7        0.002       0.002       0.003       0.003        0.003
8        0.005       0.004       0.003       0.003        0.003
9        0.003       0.003       0.003       0.003        0.003
10         NaN         NaN         NaN         NaN          NaN


   통계표명:   아황산가스(SO2) Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0    단위:          ppm        NaN         NaN         NaN         NaN
1    NaN         2014       2015    2016.000    2017.000    2018.000
2     서울        0.006      0.005       0.005       0.005       0.004
3     부산        0.007      0.006       0.005       0.005       0.005
4     대구        0.004      0.003       0.003       0.003       0.003
5     인천        0.007      0.006       0.006       0.006       0.005
6     광주        0.004      0.003       0.003       0.003       0.003
7     대전        0.004      0.004       0.003       0.003       0.002
8     울산        0.008      0.007       0.007       0.006       0.006
9     세종            -          -       0.004       0.003       0.003
10   출처:  환경부「대기환경연보」        NaN         NaN         NaN         NaN

    Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10
0          NaN         NaN         NaN         NaN          NaN
1     2019.000    2020.000    2021.000    2022.000     2023.000
2        0.004       0.003       0.003       0.003        0.003
3        0.005       0.004       0.003       0.003        0.003
4        0.003       0.002       0.002       0.002        0.002
5        0.005       0.004       0.003       0.003        0.003
6        0.003       0.003       0.003       0.003        0.003
7        0.002       0.002       0.003       0.003        0.003
8        0.005       0.004       0.003       0.003        0.003
9        0.003       0.003       0.003       0.003        0.003
10         NaN         NaN         NaN         NaN          NaN

C:\Users\snowy\PyCharmMiscProject\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\snowy\PyCharmMiscProject\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [10]:
df7 = pd.read_json('./test.json')
df8 = pd.read_json('./test.json', typ='series')

print(df7)
print('\n')
print(df8)

                                               users
0  {'userId': 1, 'firstName': 'AAAAA', 'lastName'...
1  {'userId': 2, 'firstName': 'BBBB', 'lastName':...
2  {'userId': 3, 'firstName': 'CCCCC', 'lastName'...
3  {'userId': 4, 'firstName': 'DDDDD', 'lastName'...
4  {'userId': 5, 'firstName': 'EEEEE', 'lastName'...


users    [{'userId': 1, 'firstName': 'AAAAA', 'lastName...
dtype: object